*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.zz{
  background-color: #f0f;
}